PyYAML~=6.0.2
zenml~=0.93.0
openai~=1.55.3
groq~=0.11.0
langchain~=0.3.7
pinecone~=5.4.0
pinecone-plugin-assistant~=0.3.0
pinecone-plugin-inference~=2.0.1
pinecone-plugin-interface~=0.0.7
langchain-groq~=0.2.1
langsmith~=0.1.139
langchain-openai~=0.2.5
langchain-nvidia-ai-endpoints~=0.3.0
llmsherpa~=0.1.4
protobuf~=5.28.3
pymongo~=4.10.1
pydantic~=2.8
ratelimit~=2.2.1
sentence-transformers~=3.3.1
streamlit~=1.40.1
streamlit_chat~=0.1.1
markdown>=3.0